/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F0F2F5;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main_container {
    width: 70%;
    height: 70%;
    display: flex;
    margin: 0.5rem;
}

.main_container  .left_container {
    width: 55%;

}


.main_container  .right_container {
    width: 45%;
    
}

.left_container img {
     height: 7rem;
     margin-top: 3.5rem;
     margin-bottom: -1rem,;

}

.left_container p{
    font-size: 1.6rem;
    margin-left: 2rem;
    font-weight: 400;
    line-height: 2rem;
}

.right_container form {
    background-color: white;
    border-radius: 0.6rem;
    padding: 1rem;
    width: 85%;
    margin: 1 auto;
}

form input {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    outline: none;
     padding: 0.6rem;
     border-radius: 0.3rem;
     border: 0.05rem solid lightgrey;
     font-size: 1rem;
}

.login_button {
    width: 100%;
     margin-bottom: 1rem;
     outline: none;
     padding: 0.6rem;
     border-radius: 0.3rem;
     font-size: 1rem;
     border: none;
     font-size: 1.2rem;
     font-weight: 600;
     background-color: blue;
     color: white;
}


.right_container a{
    display: block;
    text-align: center;
    text-decoration: none;
}

hr{
    margin: 1.2rem 0;
    border: 0.05rem solid lightgrey;
}

.button_container button{
    width: 100%;
     margin-bottom: 1rem;
     outline: none;
     padding: 0.6rem;
     border-radius: 0.3rem;
     font-size: 1rem;
     border: none;
     font-size: 1.2rem;
     font-weight: 600;
     background-color: green;
     color: white;
}

.forget_password{
    margin-bottom: 1rem;
    outline: none;
    padding: 0.6rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.last_text{
    text-align: center;
    margin-top: 1rem;
}
